{% extends 'base.html.twig' %}

{% block title %}PriceProduct{% endblock %}

{% block body %}
    <h1>PriceProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price_product.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ price_product.price }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ price_product.startdate ? price_product.startdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ price_product.enddate ? price_product.enddate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('price_product_index') }}">back to list</a>

    <a href="{{ path('price_product_edit', {'id': price_product.id}) }}">edit</a>

    {{ include('price_product/_delete_form.html.twig') }}
{% endblock %}
