{% extends 'base.html.twig' %}

{% block title %}UnitMeasure index{% endblock %}

{% block body %}
    <h1>UnitMeasure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Unit</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_measure in unit_measures %}
            <tr>
                <td>{{ unit_measure.id }}</td>
                <td>{{ unit_measure.unit }}</td>
                <td>{{ unit_measure.value }}</td>
                <td>
                    <a href="{{ path('unit_measure_show', {'id': unit_measure.id}) }}">show</a>
                    <a href="{{ path('unit_measure_edit', {'id': unit_measure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unit_measure_new') }}">Create new</a>
{% endblock %}
